<div class="about__block">
   <p class="about__block-title title">О компании</p>
   <div class="about__block-content d-flex align-items-start justify-content-between">
      <p class="content__text">
         Компания Компасмебель рада приветствовать Вас в нашем интернет-магазине! Наш магазин уже на протяжении 14 лет является одним из ведущих
         мебельных интернет-магазинов и осуществляет качественное обслуживание своих клиентов! Мы являемся дилерами лучших российских мебельных
         компаний, которые доверили нам продажу своей мебели.<br /><br />
         Наш мебельный интернет-магазин <span>"Компасмебель"</span> включает в себя разнообразную качественную мебель: элитная, модульная мебель, мебель для
         детской, мебель для спальни, мебельные стенки, отдельно кровати, тумбы, комоды, шкафы, подставки под ТВ и многое, многое другое…В нашем
         магазине вы также найдете богатую коллекцию корпусной мебели, а наши цены приятно удивят вас!<br /><br />
         Интернет-магазины – гениальное достижение современности! Покупать мебель очень удобно через интернет, так как это возможность сэкономить
         время, а так же участвовать в выборе мебели может вся семья!
      </p>
      <img src="img/aboutSec.png" alt="" class="content__img" />
   </div>
   <p class="about__block-text">
      А также в нашем интернет-магазине Вы можете <a class="about__block-text__link" href="#">купить мебель в кредит или рассрочку</a> по выгодным условиям, мы стараемся сделать Вашу покупку более
      комфортной!
   </p>
   <p class="about__block-text">Наши менеджеры всегда готовы помочь Вам в выборе мебели для Вашего дома!</p>
   <p class="about__block-text">Звоните нам по телефону: <span>7 (495) 477-81-90</span></p>
</div>
