<div class="benefits">
   <p class="benefits-title">Наши преимущества</p>
   <div class="benefits__aspects row">
      <div class="col-md-4">
         <div class="benefits__aspects-item">
            <img src="img/benefitsImg1.svg" alt="" class="benefits__aspects-item__img" />
            <p class="benefits__aspects-item__text">Сеть магазинов<br />по Москве</p>
         </div>
      </div>

      <div class="col-md-4">
         <div class="benefits__aspects-item">
            <img src="img/benefitsImg2.svg" alt="" class="benefits__aspects-item__img" />
            <p class="benefits__aspects-item__text">Наличный<br /> безналичный расчет</p>
         </div>
      </div>

      <div class="col-md-4">
         <div class="benefits__aspects-item">
            <img src="img/benefitsImg3.svg" alt="" class="benefits__aspects-item__img" />
            <p class="benefits__aspects-item__text">Рассрочка, кредит</p>
         </div>
      </div>

      <div class="col-md-4">
         <div class="benefits__aspects-item">
            <img src="img/benefitsImg4.svg" alt="" class="benefits__aspects-item__img" />
            <p class="benefits__aspects-item__text">Бесплатная доставка<br />по Москве</p>
         </div>
      </div>
   </div>
</div>
