<h1 class="descr__title title" style="text-align: left;">Гостинная Mariana</h1>
<div class="card__mainInfo-block d-flex justify-content-between">
   <div class="item-gallery" style="width: 60%;">
      <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
         <div class="carousel__slide" data-src="img/cardGalleryImg.png" data-fancybox="gallery" data-caption="Hello 🖐">
            <img src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide" data-src="img/cardGalleryImg.png" data-fancybox="gallery" data-caption="Another caption">
            <img src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide" data-src="img/cardGalleryImg.png" data-fancybox="gallery">
            <img data-lazy-src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide" data-src="img/cardGalleryImg.png" data-fancybox="gallery">
            <img data-lazy-src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
      </div>

      <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
         <div class="carousel__slide">
            <img class="panzoom__content" src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide">
            <img class="panzoom__content" src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide">
            <img class="panzoom__content" src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide">
            <img class="panzoom__content" src="img/cardGalleryImg.png" />
         </div>
         <div class="carousel__slide embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?controls=0" style="pointer-events: none;"></iframe>
          </div>
      </div>
   </div>

   <div class="item-descr">
      <div class="d-flex align-items-center descr-prop">
         <p class="prop-title">Артикул:</p>
         <p></p>
      </div>
      <div class="d-flex align-items-center descr-prop">
         <p class="prop-title">Фабрика:</p>
         <p>Belonna</p>
      </div>
      <div class="d-flex align-items-center descr-prop">
         <p class="prop-title">Серия:</p>
         <p>Mariana</p>
      </div>
      <div class="d-flex align-items-center price-block justify-content-between">
         <p class="old-price">125 400 р.</p>
         <p class="new-price">93 800 р.</p>
      </div>
      <button class="toCart d-flex align-items-center justify-content-center">В корзину</button>
      <button class="linksBtn d-flex align-item-center" data-toggle="modal" data-target="#cardModal1">
         <img src="img/cardBtnIcon1.svg" alt="" />
         Доставка
      </button>
      <button class="linksBtn d-flex align-item-center" data-toggle="modal" data-target="#cardModal2">
         <img src="img/cardBtnIcon2.svg" alt="" />
         Оплата
      </button>
      <button class="linksBtn d-flex align-item-center" data-toggle="modal" data-target="#cardModal3">
         <img src="img/cardBtnIcon3.svg" alt="" />
         Рассрочка
      </button>
   </div>
</div>
