<div class="catalog-items row">
   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-4">
      <div class="position-relative item-wrap">
         <div class="collection-item">
            <img src="img/collectionImg1.png" alt="" />
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
               <p class="new-price">179 600 р.</p>
               <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
            <div class="descr">
               <p class="descr-prop"><span>Страна</span>Турция</p>
               <p class="descr-prop"><span>Материал</span>ЛДСП</p>
               <p class="descr-prop"><span>Материал фасада</span>МДФ</p>
               <a href="#" class="descr-link">Все модули серии «PESARO»</a>
            </div>
         </div>
      </div>
   </div>
</div>
