<footer class="footer">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-md-3">
            <a href="#" class="footer__logo">
               <img src="img/footer-logo.svg" alt="" class="footer__logo-img" />
            </a>
            <p class="footer-item desk">Copyright©compassmebel.ru 2022</p>
            <p class="footer-item desk">Все права защищены.</p>
         </div>
         <div class="col-md-3">
            <p class="footer-item__title">Помощь покупателю</p>
            <a href="#" class="footer-item">Как заказать товар </a>
            <a href="#" class="footer-item">Оплата</a>
            <a href="#" class="footer-item">Доставка, сборка</a>
            <a href="#" class="footer-item"> Обмен, возврат</a>
            <a href="#" class="footer-item">Отзывы</a>
         </div>
         <div class="col-md-4">
            <p class="footer-item__title">С нами выгодно</p>
            <a href="#" class="footer-item">Рассрочка, кредит</a>
            <a href="#" class="footer-item">Условия обработки и хранения данных </a>
            <a href="#" class="footer-item">Подарки</a>
            <a href="#" class="footer-item">Распродажа</a>
            <a href="#" class="footer-item">Нашли дешевле, снизим цену</a>
         </div>
         <div class="col-md-2">
            <p class="footer-item__title">Партнёрам</p>
            <a href="#" class="footer-item">Поставщикам </a>
            <a href="#" class="footer-item">Дилерам</a>
            <a href="#" class="footer-item">Дизайнерам</a>
            <a href="#" class="footer-item"> Вакансии</a>
            <a href="#" class="footer-item">Контакты</a>
         </div>
         <div class="col-md-2">
            <div class="d-flex align-items-center footer__contacts">
               <svg xmlns="http://www.w3.org/2000/svg"  class="contacts__phone-icon" width="16" height="16" fill="#00a752" class="bi bi-telephone" viewBox="0 0 16 16" style="margin-right: 10px">
                  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
               </svg>
               <div class="d-block contacts__numbers">
                  <a href="#" class="numbers__item">7 (495) 477-81-90</a>
                  <a href="#" class="numbers__item">7 (800) 333-45-17</a>
               </div>
            </div>
            <a class="btn d-block ml-0 _button footer__contacts-button" data-toggle="modal" data-target="#exampleModalLabelTel" > Обратный звонок </a>
         </div>
         <div class="col-md-3">
            <p class="footer-item mob">Copyright©compassmebel.ru 2022</p>
            <p class="footer-item mob">Все права защищены.</p>
         </div>
      </div>
   </div>
   <div class="footer-partners d-flex">
      <div class="container">
         <div class="partners-content d-block">
            <img src="img/partner.svg" alt="" class="partner-img" />
         </div>
      </div>
   </div>
</footer>
