<div class="fullCollection-block">
    <p class="title">Вся коллекция «Mariana»</p>
    <div class="collection-items d-flex align-items-start justify-content-between">
        <div class="collection-item">
            <img src="img/collectionImg1.png" alt="">
            <p class="item-title">Гостиная PESARO</p>
            <div class="d-flex align-items-center justify-content-between price">
                <p class="new-price">125 400 р.</p>
                <p class="old-price">93 800 р.</p>
            </div>
            <button class="toCart">В корзину</button>
        </div>
        <div class="collection-item">
            <img src="img/collectionImg1.png" alt="">
            <p class="item-title">Гостиная Palvin</p>
            <div class="d-flex align-items-center justify-content-between price">
                <p class="new-price">179 600 р.</p>
                <p class="old-price">134 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
        </div>
        <div class="collection-item">
            <img src="img/collectionImg1.png" alt="">
            <p class="item-title">Гостиная Montego</p>
            <div class="d-flex align-items-center justify-content-between price">
                <p class="new-price">90 200 р.</p>
                <p class="old-price">67 700 р.</p>
            </div>
            <button class="toCart">В корзину</button>
        </div>
    </div>
</div>