<h1 class="title">Полезное</h1>
<div class="nav indexTabs" id="v-pills-tab" role="tablist">
   <a
      class="nav-link active"
      id="v-pills-home-tab"
      data-toggle="pill"
      href="#v-pills-home1"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
      >Акции</a
   >
   <a
      class="nav-link"
      id="v-pills-profile-tab"
      data-toggle="pill"
      href="#v-pills-profile1"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
      >Хит продаж</a
   >
   <a
      class="nav-link"
      id="v-pills-messages-tab"
      data-toggle="pill"
      href="#v-pills-messages1"
      role="tab"
      aria-controls="v-pills-messages"
      aria-selected="false"
      >Производители</a
   >
</div>
<div class="tab-content" id="v-pills-tabContent">
   <div class="tab-pane fade show active" id="v-pills-home1" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="d-flex justify-content-between">
         <a href="#" class="tab-item">
            <div class="wrap">
               <img src="https://www.compassmebel.ru/uploads/products/156/big.jpg" alt="" />
            </div>
            <p>Акция</p>
         </a>
         <a href="#" class="tab-item">
            <div class="wrap">
               <img src="https://www.compassmebel.ru/uploads/products/156/big.jpg" alt="" />
            </div>
            <p>Акция</p>
         </a>
      </div>
   </div>
   <div class="tab-pane fade" id="v-pills-profile1" role="tabpanel" aria-labelledby="v-pills-profile-tab">2</div>
   <div class="tab-pane fade" id="v-pills-messages1" role="tabpanel" aria-labelledby="v-pills-messages-tab">3</div>
</div>
