<div class="lk-one-content" style="overflow-x: auto;">
   <div class="lk-table" id="accordion" style="width: 1532px;">
      <div class="table">
         <div class="d-flex row-tite">
            <div class="title-item col-one">№</div>
            <div class="title-item col-two">Дата</div>
            <div class="title-item col-three">Товаров</div>
            <div class="title-item col-four">Статус заказа</div>
            <div class="title-item col-five">Цена доставки</div>
            <div class="title-item col-six">Тип оплаты</div>
            <div class="title-item col-seven">Тип доставки</div>
            <div class="title-item col-eight">Скидка</div>
            <div class="title-item col-nine">Итого</div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <div class="card-table">
                     <div class="title-row d-flex">
                         <div class="card-col-one">ID</div>
                         <div class="card-col-two">Фото</div>
                         <div class="card-col-three">Название и описание</div>
                         <div class="card-col-four">Артикул</div>
                         <div class="card-col-five">Кол-во</div>
                         <div class="card-col-six">Цена</div>
                         <div class="card-col-seven">Скидка</div>
                         <div class="card-col-eight">Итого</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <div class="card-table">
                     <div class="title-row d-flex">
                         <div class="card-col-one">ID</div>
                         <div class="card-col-two">Фото</div>
                         <div class="card-col-three">Название и описание</div>
                         <div class="card-col-four">Артикул</div>
                         <div class="card-col-five">Кол-во</div>
                         <div class="card-col-six">Цена</div>
                         <div class="card-col-seven">Скидка</div>
                         <div class="card-col-eight">Итого</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <div class="card-table">
                     <div class="title-row d-flex">
                         <div class="card-col-one">ID</div>
                         <div class="card-col-two">Фото</div>
                         <div class="card-col-three">Название и описание</div>
                         <div class="card-col-four">Артикул</div>
                         <div class="card-col-five">Кол-во</div>
                         <div class="card-col-six">Цена</div>
                         <div class="card-col-seven">Скидка</div>
                         <div class="card-col-eight">Итого</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <div class="card-table">
                     <div class="title-row d-flex">
                         <div class="card-col-one">ID</div>
                         <div class="card-col-two">Фото</div>
                         <div class="card-col-three">Название и описание</div>
                         <div class="card-col-four">Артикул</div>
                         <div class="card-col-five">Кол-во</div>
                         <div class="card-col-six">Цена</div>
                         <div class="card-col-seven">Скидка</div>
                         <div class="card-col-eight">Итого</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <div class="card-table">
                     <div class="title-row d-flex">
                         <div class="card-col-one">ID</div>
                         <div class="card-col-two">Фото</div>
                         <div class="card-col-three">Название и описание</div>
                         <div class="card-col-four">Артикул</div>
                         <div class="card-col-five">Кол-во</div>
                         <div class="card-col-six">Цена</div>
                         <div class="card-col-seven">Скидка</div>
                         <div class="card-col-eight">Итого</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                 <div class="card-table">
                    <div class="title-row d-flex">
                        <div class="card-col-one">ID</div>
                        <div class="card-col-two">Фото</div>
                        <div class="card-col-three">Название и описание</div>
                        <div class="card-col-four">Артикул</div>
                        <div class="card-col-five">Кол-во</div>
                        <div class="card-col-six">Цена</div>
                        <div class="card-col-seven">Скидка</div>
                        <div class="card-col-eight">Итого</div>
                    </div>
                    <div class="card-row d-flex">
                        <div class="card-col-one">
                            1
                        </div>
                        <div class="card-col-two">
                            <img src="img/cardGalleryImg.png" alt="">
                        </div>
                        <div class="card-col-three">Гостинная Como</div>
                        <div class="card-col-four"></div>
                        <div class="card-col-five">1</div>
                        <div class="card-col-six">132300</div>
                        <div class="card-col-seven">34300</div>
                        <div class="card-col-eight">99500₽</div>
                    </div>
                    <div class="card-row d-flex">
                        <div class="card-col-one">
                            1
                        </div>
                        <div class="card-col-two">
                            <img src="img/cardGalleryImg.png" alt="">
                        </div>
                        <div class="card-col-three">Гостинная Como</div>
                        <div class="card-col-four"></div>
                        <div class="card-col-five">1</div>
                        <div class="card-col-six">132300</div>
                        <div class="card-col-seven">34300</div>
                        <div class="card-col-eight">99500₽</div>
                    </div>
                 </div>
               </div>
            </div>
         </div>
         <div class="acc-wrap">
            <button class="d-flex row-one" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
               <span class="d-flex item col-one">1</span>
               <span class="d-flex item col-two">01.12.2021</span>
               <span class="d-flex item col-three">4</span>
               <span class="d-flex item col-four">Заказа отменен</span>
               <span class="d-flex item col-five">1 200 р.</span>
               <span class="d-flex item col-six">Оплата наличными</span>
               <span class="d-flex item col-seven">Доставка нашей логистикой</span>
               <span class="d-flex item col-eight">74 154 р.</span>
               <span class="d-flex item col-nine">353 516 р.</span>
            </button>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <div class="card-table">
                     <div class="title-row d-flex">
                         <div class="card-col-one">ID</div>
                         <div class="card-col-two">Фото</div>
                         <div class="card-col-three">Название и описание</div>
                         <div class="card-col-four">Артикул</div>
                         <div class="card-col-five">Кол-во</div>
                         <div class="card-col-six">Цена</div>
                         <div class="card-col-seven">Скидка</div>
                         <div class="card-col-eight">Итого</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                     <div class="card-row d-flex">
                         <div class="card-col-one">
                             1
                         </div>
                         <div class="card-col-two">
                             <img src="img/cardGalleryImg.png" alt="">
                         </div>
                         <div class="card-col-three">Гостинная Como</div>
                         <div class="card-col-four"></div>
                         <div class="card-col-five">1</div>
                         <div class="card-col-six">132300</div>
                         <div class="card-col-seven">34300</div>
                         <div class="card-col-eight">99500₽</div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>
