<div class="lk-two-content">
   <form action="#" class="change-data__form">
      <div class="d-block align-items-center justify-content-between">
         <div class="d-block input-block">
            <p class="input-title">Имя <span>*</span></p>
            <input type="text" />
         </div>
         <div class="d-block input-block">
            <p class="input-title">Мобильный телефон <span>*</span></p>
            <input type="tel" />
         </div>
         <div class="d-block input-block">
            <p class="input-title">Электронная почта</p>
            <input type="email" />
         </div>
      </div>
      <div class="area-block">
        <p class="input-title">Адрес доставки</p>
        <textarea></textarea>
      </div>
      <button class="btn _button sub-btn">Сохранить изменения</button>
   </form>
</div>
