<div class="lk-three-content">
   <p class="content-title mob">Изменить пароль</p>

   <form action="#" class="change-data__form">
      <div class="d-block align-items-center justify-content-between">
         <div class="d-block input-block">
            <p class="input-title">Старый пароль</p>
            <input type="password" placeholder="Введите старый пароль" />
            <button class="look-hide__password">Показать пароль</button>
         </div>
         <div class="d-block input-block">
            <p class="input-title">Пароль</p>
            <input type="password" placeholder="Введите новый пароль" />
            <button class="look-hide__password">Показать пароль</button>
         </div>
         <div class="d-block input-block">
            <p class="input-title">Повторить пароль</p>
            <input type="password" placeholder="Введите новый пароль" />
            <button class="look-hide__password">Показать пароль</button>
         </div>
      </div>
      <button class="btn _button sub-btn">Изменить пароль</button>
   </form>
</div>
