    <div class="nav flex-column lk-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-button  nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">История заказов</a>
        <a class="nav-button  nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Мои данные</a>
        <a class="nav-button  nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Изменить пароль</a>
        <a href="#" class="nav-button nav-link">Выход</a>
      </div>