<div class="catalog__links row g-2">
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg1.png" alt="" />
         <p class="catalog__links-item__text">Мебель для гостинной</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg2.png" alt="" />
         <p class="catalog__links-item__text">Мебель для спальни</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg3.png" alt="" />
         <p class="catalog__links-item__text">Мебель для прихожей</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg4.png" alt="" />
         <p class="catalog__links-item__text">Мебель для кабинета</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg5.png" alt="" />
         <p class="catalog__links-item__text">Мебель для столовой</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg6.png" alt="" />
         <p class="catalog__links-item__text">Мебель для детской</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg7.png" alt="" />
         <p class="catalog__links-item__text">Кровати</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg8.png" alt="" />
         <p class="catalog__links-item__text">Комоды</p>
      </a>
   </div>
   <div class="col-md-4">
      <a href="#" class="catalog__links-item">
         <img class="catalog__links-item__img" src="img/mainCatalogImg9.png" alt="" />
         <p class="catalog__links-item__text">Кресла</p>
      </a>
   </div>
</div>
