<div class="main__nav" id="accordion">
   <div class="main__nav__block">
      <div class="main__nav__block-title">
         <p class="block-title__text">Интерьерные решения</p>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Кабинеты</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Гостинные
            </button>
         </div>

         <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Детские</a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Мебель из массива</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button class="main__nav__block-item collapsed black" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
               Мягкая мебель
            </button>
         </div>

         <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Прихожие</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseThree"
               aria-expanded="true"
               aria-controls="collapseThree"
            >
               Спальни
            </button>
         </div>

         <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Обеденные комплекты</a>
      </div>
   </div>
   <div class="main__nav__block">
      <div class="main__nav__block-title">
         <p class="block-title__text">Предметы интерьера</p>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseFour"
               aria-expanded="true"
               aria-controls="collapseFour"
            >
               Матрасы
            </button>
         </div>

         <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Банкетки, пуфы</a>
      </div>

      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseFive"
               aria-expanded="true"
               aria-controls="collapseFive"
            >
               Витрины
            </button>
         </div>

         <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Зеркала</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
               Комоды
            </button>
         </div>

         <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Консоли</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseSeven"
               aria-expanded="true"
               aria-controls="collapseSeven"
            >
               Кровати
            </button>
         </div>

         <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Полки</a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Стеллажи</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseEight"
               aria-expanded="true"
               aria-controls="collapseEight"
            >
               Столы, столы-трансформеры
            </button>
         </div>

         <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Столы журнальные </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Столы письменные </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Стулья, табуреты </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> ТВ тумбы, тв стойки </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Туалетные столы </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Тумбы прикроватные </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Тумбы для прихожей </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Шкафы </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Распродажа выставочных образцов </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Польская мебель </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Одеяла, подушки </a>
      </div>
   </div>
</div>
<div class="main__nav mob" id="accordionMainMob">
   <div class="main__nav__block">
      <div class="main__nav__block-title">
         <div class="nav__item title-item" id="headingTitleOne">
            <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseTitleOne" aria-expanded="true" aria-controls="collapseTitleOne">
               Гостинные
            </button>
         </div>
      </div>
      <div id="collapseTitleOne" class="collapse" aria-labelledby="headingTitleOne" data-parent="#accordionMainMob" >
         <div id="accordionMob">
            <div class="nav__item">
               <a href="#" class="nav__item-link">Кабинеты</a>
            </div>
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseOneMob" aria-expanded="true" aria-controls="collapseOneMob">
                     Гостинные
                  </button>
               </div>
      
               <div id="collapseOneMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link">Детские</a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link">Мебель из массива</a>
            </div>
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button class="main__nav__block-item collapsed black" data-toggle="collapse" data-target="#collapseTwoMob" aria-expanded="true" aria-controls="collapseTwoMob">
                     Мягкая мебель
                  </button>
               </div>
      
               <div id="collapseTwoMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link">Прихожие</a>
            </div>
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button
                     class="main__nav__block-item collapsed""
                     data-toggle="collapse"
                     data-target="#collapseThreeMob"
                     aria-expanded="true"
                     aria-controls="collapseThreeMob"
                  >
                     Спальни
                  </button>
               </div>
      
               <div id="collapseThreeMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Обеденные комплекты</a>
            </div>
         </div>
         
      </div>

   </div>

   <div class="main__nav__block">
      <div class="main__nav__block-title">
         <div class="nav__item title-item" id="headingTitleTwo">
            <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseTitleTwo" aria-expanded="true" aria-controls="collapseTitleTwo">
               Предметы интерьера
            </button>
         </div>
      </div>
      <div id="collapseTitleTwo" class="collapse" aria-labelledby="headingTitleTwo" data-parent="#accordionMainMob" >
         <div id="accordionMobTwo">
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button
                     class="main__nav__block-item collapsed""
                     data-toggle="collapse"
                     data-target="#collapseFourMob"
                     aria-expanded="true"
                     aria-controls="collapseFourMob"
                  >
                     Матрасы
                  </button>
               </div>
      
               <div id="collapseFourMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMobTwo">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link">Банкетки, пуфы</a>
            </div>
      
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button
                     class="main__nav__block-item collapsed""
                     data-toggle="collapse"
                     data-target="#collapseFiveMob"
                     aria-expanded="true"
                     aria-controls="collapseFiveMob"
                  >
                     Витрины
                  </button>
               </div>
      
               <div id="collapseFiveMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMobTwo">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link">Зеркала</a>
            </div>
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseSixMob" aria-expanded="true" aria-controls="collapseSixMob">
                     Комоды
                  </button>
               </div>
      
               <div id="collapseSixMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMobTwo">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Консоли</a>
            </div>
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button
                     class="main__nav__block-item collapsed""
                     data-toggle="collapse"
                     data-target="#collapseSevenMob"
                     aria-expanded="true"
                     aria-controls="collapseSevenMob"
                  >
                     Кровати
                  </button>
               </div>
      
               <div id="collapseSevenMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMobTwo">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Полки</a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Стеллажи</a>
            </div>
            <div class="nav__item">
               <div class="nav__item-header" id="headingOne">
                  <button
                     class="main__nav__block-item collapsed""
                     data-toggle="collapse"
                     data-target="#collapseEightMob"
                     aria-expanded="true"
                     aria-controls="collapseEightMob"
                  >
                     Столы, столы-трансформеры
                  </button>
               </div>
      
               <div id="collapseEightMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMobTwo">
                  <div class="nav__item-body">
                     <a href="#" class="body__link">Белая мебель для гостиной</a>
                     <a href="#" class="body__link">Классическая мебель для гостиной</a>
                     <a href="#" class="body__link">Черная мебель для гостиной</a>
                     <a href="#" class="body__link">Гостиные Прованс</a>
                     <a href="#" class="body__link">Гостиные из массива</a>
                     <a href="#" class="body__link">Венге мебель для гостиной</a>
                     <a href="#" class="body__link">Мини стенки</a>
                     <a href="#" class="body__link">Недорогие гостинные</a>
                  </div>
               </div>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Столы журнальные </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Столы письменные </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Стулья, табуреты </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> ТВ тумбы, тв стойки </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Туалетные столы </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Тумбы прикроватные </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Тумбы для прихожей </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Шкафы </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Распродажа выставочных образцов </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Польская мебель </a>
            </div>
            <div class="nav__item">
               <a href="#" class="nav__item-link"> Одеяла, подушки </a>
            </div>
         </div>
         
      </div>

   </div>
   <!-- <div class="main__nav__block">
      <div class="main__nav__block-title">
         <p class="block-title__text">Предметы интерьера</p>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseFourMob"
               aria-expanded="true"
               aria-controls="collapseFourMob"
            >
               Матрасы
            </button>
         </div>

         <div id="collapseFourMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Банкетки, пуфы</a>
      </div>

      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseFiveMob"
               aria-expanded="true"
               aria-controls="collapseFiveMob"
            >
               Витрины
            </button>
         </div>

         <div id="collapseFiveMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link">Зеркала</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button class="main__nav__block-item collapsed"" data-toggle="collapse" data-target="#collapseSixMob" aria-expanded="true" aria-controls="collapseSixMob">
               Комоды
            </button>
         </div>

         <div id="collapseSixMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Консоли</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseSevenMob"
               aria-expanded="true"
               aria-controls="collapseSevenMob"
            >
               Кровати
            </button>
         </div>

         <div id="collapseSevenMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Полки</a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Стеллажи</a>
      </div>
      <div class="nav__item">
         <div class="nav__item-header" id="headingOne">
            <button
               class="main__nav__block-item collapsed""
               data-toggle="collapse"
               data-target="#collapseEightMob"
               aria-expanded="true"
               aria-controls="collapseEightMob"
            >
               Столы, столы-трансформеры
            </button>
         </div>

         <div id="collapseEightMob" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMob">
            <div class="nav__item-body">
               <a href="#" class="body__link">Белая мебель для гостиной</a>
               <a href="#" class="body__link">Классическая мебель для гостиной</a>
               <a href="#" class="body__link">Черная мебель для гостиной</a>
               <a href="#" class="body__link">Гостиные Прованс</a>
               <a href="#" class="body__link">Гостиные из массива</a>
               <a href="#" class="body__link">Венге мебель для гостиной</a>
               <a href="#" class="body__link">Мини стенки</a>
               <a href="#" class="body__link">Недорогие гостинные</a>
            </div>
         </div>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Столы журнальные </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Столы письменные </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Стулья, табуреты </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> ТВ тумбы, тв стойки </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Туалетные столы </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Тумбы прикроватные </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Тумбы для прихожей </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Шкафы </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Распродажа выставочных образцов </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Польская мебель </a>
      </div>
      <div class="nav__item">
         <a href="#" class="nav__item-link"> Одеяла, подушки </a>
      </div>
   </div> -->
</div>



