<div class="news__block">
   <div class="new__block-content row">
      <div class="col-md-5">
         <div class="content-item">
            <p class="item-title">Новости 3</p>
            <p class="item-date">05.09.2021</p>
            <p class="new-text">
               Суд приговорил одного из лидеров белорусской оппозиции, Марию Колесникову, к 11 годам тюрьмы, оппозиционера Максима Знака — к 10 годам.
               Колесникова будет отбывать наказание в колонии общего режима, а Знак... <a href="#">Подробнее</a>
            </p>
         </div>
      </div>

      <div class="col-md-5">
         <div class="content-item">
            <p class="item-title">Новости 3</p>
            <p class="item-date">05.09.2021</p>
            <p class="new-text">
               Суд приговорил одного из лидеров белорусской оппозиции, Марию Колесникову, к 11 годам тюрьмы, оппозиционера Максима Знака — к 10 годам.
               Колесникова будет отбывать наказание в колонии общего режима, а Знак... <a href="#">Подробнее</a>
            </p>
         </div>
      </div>

      <div class="col-md-5">
         <div class="content-item">
            <p class="item-title">Новости 3</p>
            <p class="item-date">05.09.2021</p>
            <p class="new-text">
               Суд приговорил одного из лидеров белорусской оппозиции, Марию Колесникову, к 11 годам тюрьмы, оппозиционера Максима Знака — к 10 годам.
               Колесникова будет отбывать наказание в колонии общего режима, а Знак... <a href="#">Подробнее</a>
            </p>
         </div>
      </div>
   </div>
</div>
