<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true" style="color: red">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action="#" class="registration-form">
               <div class="input-block">
                  <p class="block-text">Имя <span>*</span></p>
                  <input type="text" class="input" />
               </div>
               <div class="input-block">
                  <p class="block-text">Мобильный телефон <span>*</span></p>
                  <input type="tel" class="input" />
               </div>
               <div class="input-block">
                  <p class="block-text">Имя <span>*</span></p>
                  <input type="text" class="input" />
               </div>
               <div class="input-block">
                  <p class="block-text">Email <span>*</span></p>
                  <input type="email" class="input" />
               </div>
               <div class="input-block">
                  <p class="block-text">Пароль <span>*</span></p>
                  <input type="password" class="input password-inp" />
                  <a href="#" class="look-hide__password d-flex justify-content-end">Показать пароль</a>
               </div>
               <div class="input-block">
                  <p class="block-text">Адрес доставки</p>
                  <textarea class="adress__area" placeholder="г. Москва, ул. Гончарный пер. дом 16 кв 26 3й этаж, домофон 0000"></textarea>
               </div>
               <div class="cap-block">
                  <p class="block-text">Пароль <span>*</span></p>
                  <div class="d-flex justify-content-between align-items-center capt-block">
                     <img src="img/capt-img.jpg" alt="" />
                     <div class="d-flex align-items-center">
                        <a href="#" class="reload-btn">
                           <img src="img/reload-icon.svg" alt="" class="reload-img" />
                        </a>
                        <input type="text" class="capt-input">
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отправить</button>
            <button type="button" class="btn btn-primary">Сбросить</button>
         </div>
         <div class="modal-sign">
            <p>У меня есть регистрация: <a href="#">Войти</a></p>
         </div>
      </div>
   </div>
</div>
