<div class="reviews__block">
   <p class="reviews__block-title title">Отзывы</p>
   <div class="swiper reviews">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="img__frame">
               <img src="img/reviewAvatar1.png" alt="" class="review__img" />
            </div>
            <p class="review__name">Алёна К.</p>
            <p class="review__text">
               Купила в ИЮНЕ 2019 ГОДА спальню "РИМИНИ - 2". Всё по размерам подбирали с менеджером Викторией, она же мне посоветовала взять
               замечательный матрас! Виктория, от души, спасибо!!! Спальня очень качественная, стильная. Нет ни одной претензии! Ждала 3 недели,
               собрали за 3 часа. Рекомендую всем!
            </p>
         </div>
         <div class="swiper-slide">
            <div class="img__frame none-img">
               <img src="img/reviewAvatar2.png" alt="" class="review__img" />
            </div>
            <p class="review__name">Olga S.</p>
            <p class="review__text">
               Долго не могла собраться написать отзыв. Мы с мужем заказали спальню в салоне. ООООЧЕНЬ довольны и спальней и сервисом. Мебель встала
               просто идеально. Большое спасибо продавцу, сборщику. Покупка серьезная... читать далее
            </p>
         </div>
         <div class="swiper-slide">
            <div class="img__frame">
               <img src="img/reviewAvatar1.png" alt="" class="review__img" />
            </div>
            <p class="review__name">Алёна К.</p>
            <p class="review__text">
               Купила в ИЮНЕ 2019 ГОДА спальню "РИМИНИ - 2". Всё по размерам подбирали с менеджером Викторией, она же мне посоветовала взять
               замечательный матрас! Виктория, от души, спасибо!!! Спальня очень качественная, стильная. Нет ни одной претензии! Ждала 3 недели,
               собрали за 3 часа. Рекомендую всем!
            </p>
         </div>
         <div class="swiper-slide">
            <div class="img__frame">
               <img src="img/reviewAvatar1.png" alt="" class="review__img" />
            </div>
            <p class="review__name">Алёна К.</p>
            <p class="review__text">
               Купила в ИЮНЕ 2019 ГОДА спальню "РИМИНИ - 2". Всё по размерам подбирали с менеджером Викторией, она же мне посоветовала взять
               замечательный матрас! Виктория, от души, спасибо!!! Спальня очень качественная, стильная. Нет ни одной претензии! Ждала 3 недели,
               собрали за 3 часа. Рекомендую всем!
            </p>
         </div>
         <div class="swiper-slide">
            <div class="img__frame">
               <img src="img/reviewAvatar1.png" alt="" class="review__img" />
            </div>
            <p class="review__name">Алёна К.</p>
            <p class="review__text">
               Купила в ИЮНЕ 2019 ГОДА спальню "РИМИНИ - 2". Всё по размерам подбирали с менеджером Викторией, она же мне посоветовала взять
               замечательный матрас! Виктория, от души, спасибо!!! Спальня очень качественная, стильная. Нет ни одной претензии! Ждала 3 недели,
               собрали за 3 часа. Рекомендую всем!
            </p>
         </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
   </div>
</div>
