<div class="modal fade" id="exampleModalLabelTel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelTel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px;">Заказать звонок</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true" style="color: red">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action="#" class="registration-form">
               <div class="input-block">
                  <p class="block-text">Имя <span>*</span></p>
                  <input type="text" class="input" />
               </div>
               <div class="input-block">
                  <p class="block-text">Мобильный телефон <span>*</span></p>
                  <input type="tel" class="input" />
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отправить</button>
         </div>
      </div>
   </div>
</div>
