<div class="watched__block">
   <div class="watched__title-block">
      <p class="block-title">Вы смотрели</p>
   </div>
   <div class="d-flex watchedContent">
      <button class="watched-more">
         <img src="img/watchedArr.svg" alt="" />
      </button>
      <a href="#" class="watched-item">
         <img src="img/wacthedItem1.png" alt="" />
         <p class="wacthed-title">Гостинная simple</p>
         <div class="price-block">
            <p class="old-price">179 600 р.</p>
            <p class="new-price">134 700 р.</p>
         </div>
      </a>
      <a href="#" class="watched-item">
         <img src="img/wacthedItem1.png" alt="" />
         <p class="wacthed-title">Гостинная simple</p>
         <div class="price-block">
            <p class="old-price">179 600 р.</p>
            <p class="new-price">134 700 р.</p>
         </div>
      </a>
      <a href="#" class="watched-item">
        <img src="img/wacthedItem1.png" alt="" />
        <p class="wacthed-title">Гостинная simple</p>
        <div class="price-block">
           <p class="old-price">179 600 р.</p>
           <p class="new-price">134 700 р.</p>
        </div>
     </a>
     <a href="#" class="watched-item">
        <img src="img/wacthedItem1.png" alt="" />
        <p class="wacthed-title">Гостинная simple</p>
        <div class="price-block">
           <p class="old-price">179 600 р.</p>
           <p class="new-price">134 700 р.</p>
        </div>
     </a>
      <button class="watched-more bottom">
         <img src="img/watchedArr.svg" alt="" />
      </button>
   </div>
</div>
